@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

/* Zorgt dat elke sectie stopt onder de navbar */
section {
  scroll-margin-top: 90px; /* Pas dit aan op de werkelijke hoogte van je navbar */
}

/* Vergeet ook het vloeiende scrollen niet */
html {
  scroll-behavior: smooth;
}